.row{
    display: flex;

}
.col{
    flex :1 ;
    background-color: #659DA1;
    padding: 10px;
    margin: 10px;
}
.col-2{
    flex: 2;
    padding: 10px;
    margin: 10px;
    background-color: #659DA1;
}
.col-3{
    flex: 3;
    padding: 10px;
    margin: 10px;
    background-color: #659DA1;
}
.col-4{
    flex :4;
    padding: 10px;
    margin: 10px;
    background-color: #659DA1;
}