<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>{{user.first_name}}'s Dashboard</title>
</head>
<body>
    <div class="dashboard_header">
        <h1>Welcome, {{user.first_name}} </h1>
        <form action="/logout" method="POST">
            <input type="submit" value="Logout" name="logout" class="logout">
        </form>
    </div>
    <div class="nav">
        <div class="nav_header">
            <h2>All Posted Recipes:</h2>
        </div>
        <div class="create">
            <a href="/create">+ Create</a>
        </div>
    </div>
    <div class="recipe_wrapper">
        <div class="name">
            <h2>Name:</h2>
            {% for recipe in user.recipes %}
                <h3>{{recipe.name}}</h3>
            {% endfor %} 
        </div>
        <div class="Under_30">
            <h2>Under 30 min:</h2>
            {% for recipe in user.recipes %}
                <h3>{{recipe.under_30}}</h3>
            {% endfor %} 
        </div>
        <div class="Posted_by">
            <h2>Posted By:</h2>
            {% for recipe in user.recipes %}
                <h3>{{user.first_name}} {{user.last_name}}</h3>
            {% endfor %} 
        </div>
        <div class="actions">
            <h2>Actions:</h2>
            {% for recipe in user.recipes %}
                <h3><a href="/view/recipe/{{recipe.id}}">View Recipe</a></h3>
            {% endfor %} 
        </div>
    </div>
</body> 
</html>