*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 0px 100px 30px 100px;

}
.navbar{
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: #CCCCCC;
    padding: 18px 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    button{
        width: 60px;
        border: 2px solid black;
        box-shadow: 3px 3px 2px black;
        background-color: #2B78E4;
        color: white;
        font-weight: bold;
    }
    input{
        width: 600px;
        height: 20px;
        border: 2px solid black;
    }
    h2{
        font-size: 50px;
        font-weight:100;
        font-family: Arial, Helvetica, sans-serif;
    }
    
}
.main{
    display: flex;
    justify-content: space-between;
}
.cadre{
    display: flex;
    flex-direction: column;
}
.noun{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right:20px ;
    button{
        width: 80px;
        height: 30px;
        border: 2px solid black;
        box-shadow: 4px 4px 2px black;
        background-color: #FFD966;
        color: black;
        font-weight: bold;
    }
}
.cadre1{
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 180px;
    padding: 30px 20px 30px 15px;
    margin-bottom: 15px;
    border: 2px solid black;
    h2{
        font-size: 40px;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
    }
    p{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
}
.para{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 140px;
    a{
        color: #1B609C;
    }
    p{
        font-size: 23px;
        width: 300px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
}
.petit{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 315px;
    height: 180px;
    padding: 10px 20px;
    border: 2px solid black;
    button{
        width: 310px;
        height: 35px;
        margin-bottom: 10px;
        border: 2px solid black;
        box-shadow: 4px 4px 2px black;
        background-color: #93C47D;
        color: black;
        font-weight: bold;
    }
    span{
        font-weight: bold;
    }
    p{
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        font-size: 40px;
    }

}