<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="box-1">
            <h2>New Dojo</h2>
            <form action="/success" method="post">
                <label for="name">Name:</label>
                <input type="text" name="name" placeholder="dojo name">
                <button type="submit"> Create </button>
            </form>
        </div>
        <div class="box-2">
            <h2>All dojos</h2>
            <ul>
                {%for dojo in dojos%}
                <li> <a href="/dojo/{{dojo.id}}" > {{dojo.name}}</a>  </li>
                {%endfor%}
            </ul>
        </div>
        <a href="/ninjas">Add Ninja</a>
    </div>
    
</body>
</html>