<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{dojo.name}} Ninjas</h1>
    <table>
        <thead>
            <td> First Name </td>
            <td>Last Name</td>
            <td>Age</td>
        </thead>
        {%for ninja in dojo.ninjas%}
        <tr>
            <td>{{ninja.first_name}} </td>
            <td>{{ninja.last_name}} </td>
            <td>{{ninja.age}} </td>
        </tr>
        {%endfor%}
    </table>
    <a href="/dojos">Home</a>

</body>
</html>