<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>New Ninja</h1>
        <form action="/success2" method="post">
            <label for="dojo">  Dojo :</label>
            <select name="dojo" id="">
                {%for dojo in dojos%}
                <option value="{{dojo.id}}">{{dojo.name}} </option>
                {%endfor%}
            </select>
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" id="">
            <label for="age"> Age : </label>
            <input type="text" name="age">
            <button type="submit">Create</button>
        </form>
        <a href="/dojos">Home</a>
    </div>
</body>
</html>