
h1{
    color: white;
    background-color: black;
    font-family: cursive ;
}
span{ 
    color: aqua;
}
h2{
    background-color:purple;
    color:white;
    text-align:center ;
    font-style: italic;
}
h3{
    color:purple;
    background-color:aqua ;
    text-align:end ;
    text-decoration:underline ;
}