.container{
    width: 940px;
    background-color: silver;
    margin: auto;
    padding:15px;
}
.top-nav {
    padding: 10px;
    margin: 9px;
    height: 130px;
    background-color: green;
}
.side-nav {
    margin: 10px;
    height: 300px;
    width: 200px;
    background-color: blue;      
}
.main {
    padding: 14px;
    height: 395px;
    width: 670px;
    background-color: red; 
}
.sub-content {
    display: inline-block;
    padding: 11px;
    height: 180px;
    width: 190px;
    margin-bottom: 30px;
    background-color: yellow;
}
#advertisement {
    padding: 22px;
    height: 50px;
    width: 600px;
    clear: both;
    background-color: purple;
}
.side-nav,.main{
    display: inline-block;
    vertical-align: top;
    
    }
    

