h1 {
    display: flex;
    justify-content: center;
  }
  p {
    display: flex;
    justify-content: center;
  }
  .butt {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }
  
  .click {
    background-color: blue;
    color: yellow;
    padding: 3px;
    border: solid yellow;
  }
  
  .click:hover {
    background-color: yellow;
    color: black;
  }
  
  .reset {
    background-color: red;
    color: grey;
    padding: 3px;
    border: solid grey;
  }
  
  .reset:hover {
    background-color: blue;
    color: white;
  }